body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: url("../imagenes/pista_roja.jpeg") no-repeat center center/cover;
    color: #fff;
    margin: 0;
    padding: 0;
}
.container {
    background: rgba(0, 0, 0, 0.7);
    width: 90%;
    max-width: 500px;
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px 10px rgba(255, 255, 255, 0.3);
}
.container-1 {
    background: rgba(0, 0, 0, 0.7);
    width: 90%;
    max-width: 500px;
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px 10px rgba(255, 255, 255, 0.3);
}
.container-prin {
    background: rgba(0, 0, 0, 0.7);
    width: 90%;
    max-width: 500px;
    margin:  10px auto;
    margin-top:5px;
    margin-bottom: 20px;
    padding: 20px; 
    border-radius: 10px;
    box-shadow: 0px 1cqb 10px 10px rgba(255, 255, 255, 0.3);
}
h2 {
    color: white;
    padding: 0px; 
    margin:0px auto;
}
.h2-prin{
    font-size: 26px;
    color: lime;
}
h3 {
     
    color: #ffcc00;
}
h4 {
    color: #ffcc00;
    font-style: italic;
    line-height: 5px;
    font-size: 10px;
}
a {
    color: rgb(184, 127, 127);
    font-style: italic; 
}
h5 {
     
    font-style: italic;
    line-height: 1px;
     
}
label {
    display: block;
    margin-top: 10px;
    font-size: 18px;
}
input {
    font-size: 18px;
    text-align: center;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    width: 90px;
}
#marca3 {
    width: 100px;
}
button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background: #ffcc00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #000;
    font-weight: bold;
}
button:hover {
    background: #ffaa00;
}
p {
    font-size: 20px;
    font-weight: bold;
    margin: 5px 0;
}
.resultado {
    color: #ffcc00;
}
.input-container {
    position: relative;
    display: inline-block;
}
.clear-btn {
    position: absolute;
    right: -20px;
    top: 5%;
    transform: translateY(-50%);
    background: red;
    color: white;
    border: none;
    border-radius: 10%;
    width: 20px;
    height: 20px;
    font-size: 9px;
    cursor: pointer;
    line-height: 1px;
    text-align: center;
    padding:0;
}
.destacada {
    color: lime;  /* Cambia el color de la "A" */
    font-weight: bold; /* Pone la "A" en negrita */
}


/* Estilo del interruptor */
.switch {
position: relative;
display: inline-block;
width: 50px;
height: 25px;
}

.switch input {
opacity: 0;
width: 0;
height: 0;
}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #db61b4;
transition: 0.4s;
border-radius: 25px;
}

.slider:before {
position: absolute;
content: "";
height: 18px;
width: 18px;
left: 4px;
bottom: 3.5px;
background-color: rgb(255, 255, 255);
transition: 0.4s;
border-radius: 50%;
}

input:checked + .slider {
background-color: #ad0f0f; /* Color cuando está activado */
}

input:checked + .slider:before {
transform: translateX(24px);
}